body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


li {
    background-color: #fff;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.2rem;
    margin: 0 0 10px;
    color: #007BFF;
}

a {
    color: #007BFF;
    text-decoration: none;
    font-size: 0.9rem;
}

a:hover {
    text-decoration: underline;
}

/* Stops list */
ul ul {
    margin-top: 10px;
    padding-left: 20px;
}

ul ul li {
    background-color: #f1f1f1;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    h2 {
        font-size: 1rem;
    }

    a {
        font-size: 0.8rem;
    }

    ul ul li {
        font-size: 0.8rem;
    }
}